html, body {
	height: 100%;
	font-family: 'Lato', Arial, sans-serif;
	color: #263137;
	background: url('../images/body.jpg') top left repeat #18344f;
}
#body-wrapper {
	background: url('../images/body.jpg') top left repeat #18344f;
}
#body-container {
	background: url('../images/body-container.jpg') top center repeat-x;
	margin-left: -50px;
	padding-left: 50px;
}
#page {
	margin-left: auto;
	margin-right: auto;
	width: 984px;
}
#header {
	height: 208px;
	width: 984px;
	background: url('../images/header.png') top left no-repeat #fff;
}
#logo {
	position: absolute;
}
#logo img {
    margin: 18px 0 0 30px;
    height: 161px;
    width: 278px;
}

#name-and-slogan {
    display: none;
}

#header-region {
	position: absolute;
	top: 25px;
	width: 950px;
	text-align: right;
}
#header-region ul {
	margin: 0;
	padding: 0;
}
#header-region li {
	padding: 0;
	margin: 0;
	float: right;
	list-style: none;
}
#header-region li a {
	font-size: 24px!important;
	color: #5d7081;
	text-decoration: none;
}
#header-region li a:hover {
	text-decoration: underline;
	color: #8b1923;
}
#block-block-2 {
	clear: right;
	padding-top: 6px;
	font-size: 22px;
}
#block-block-2 strong {
	font-size: 15px;
	font-weight: normal;
	color: #5d7081;
}

#main {
	background: url('../images/main.jpg') top left repeat-y #586a7c;
}
#content {
	width: 984px;
	background: url('../images/content.jpg') top left no-repeat;
}

#footer {
	clear: both;
	height: 160px;
	font-size: 0.8em;
	background: url('../images/footer.jpg') top left no-repeat #354c62;	
}
#footer div.region-footer-top, #footer div.region-footer-bottom {
    clear: both;
}
#footer div.region-footer-top {
	padding-top: 30px;
	margin-left: 15px;
}
#footer div.region-footer-bottom {
    padding-top: 15px;
    margin-left: 15px;
}
#footer div.region-footer-bottom, #footer div.region-footer-bottom a {
    color: #7b8b8d;
}
#footer ul {
	margin: 0;
	padding: 0;
}
#footer li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0 10px 0 10px;
	border-left: 1px solid #b6bdc8;
}
#footer div.region-footer-bottom li {
	border-left: 1px solid #7b8b8d;
}
#block-menu-menu-footer-menu li:first-child, 
#footer div.region-footer-bottom li:first-child {
	border-left: none;
}
#footer li a {
	color: #b6bdc8;
	text-decoration: none;
}
#footer li a:hover {
	text-decoration: underline;
	color: #fff;
}

#navigation {
	position: absolute;
	width: 980px;
	top: 151px;
}
#navigation ul {
	margin: 0;
	padding: 0;
}
#navigation li {
	float: right;
	width: 162px;
	height: 55px;
	list-style: none;
	vertical-align: middle;
	border-top: 1px solid #d4dadf;
	border-right: 1px solid #6e6e6e;
	background: url('../images/menu.jpg') 0px 0px no-repeat #c1cddb;
}
#navigation li a {
	display: block;
	width: 162px;
	height: 18px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-size: 18px!important;
	padding: 18px 0 19px 0;
	color: #5d7081;
}
#navigation li a:hover {
    color: #263137;
    background: url('../images/menu.jpg') 0px -114px no-repeat;
}
#navigation li.active {
    background: url('../images/menu.jpg') 0px -57px no-repeat #5d7081;
}
#navigation li.active a {
    color: #fff;
    background: none;
}

#content-header h1 {
    display: none;
}
#content-header div.tabs {
    position: absolute;
    top: 15px;
}
#content-header div.tabs ul.primary {
    border-bottom: none;
    padding: 0;
    margin: 0 0 0 10px;
}
#content-header div.tabs ul.primary li {
    margin: 0;
    float: left;
    list-style: none;
}
#content-header div.tabs ul.primary li a {
    background: #f6f8fa;
    padding: 4px 8px 5px 8px;
    border: 1px solid #ccc;
    color: #666;
}
#content-header div.tabs ul.primary li.active a {
    background: #fff;
    color: #999;

}

#content-header div.tabs ul.primary li a:hover {
    text-decoration: underline;
}
#content-header div.tabs ul.primary li.active a:hover {
    text-decoration: none;
}

#main-text {
	width: 332px;
	float: right;
}
#main-text-body {
	background: url('../images/main-text.gif') top left repeat-y  #b6c2d0;
}
#main-text-body div.wrapper {
	background: url('../images/main-text-body.gif') top left no-repeat;
	min-height: 459px;
	padding-top: 15px;
}
#main-text-footer {
	background: url('../images/main-text-footer.gif') bottom left no-repeat;
	height: 45px;
	margin-bottom: 15px;
}
#main-text div.field-name-body {
	font-size: 0.9em;
	line-height: 1.6em;
	margin: 0 20px 0 20px;
	padding: 10px 0 0 0;
}

#main-images {
	width: 615px;	
	margin: 0 0 0 25px;
	padding: 20px 0 0 0;
}
#main-images img.large {
	border: 2px solid #9ca4ad;
}
#main-images img.thumbnail {
	border: 2px solid #7c8185;
	float: left;
	margin: 16px 4px 30px 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0.7em;
}

hr {
	border: 0;
	border-bottom: #999 1px solid;
	margin: 0.5em 0 1.2em 0;
}

#main-text h2 {
	font-size: 1.1em;
}
#main-text h3, #main-text h4 {
	font-size: 1em;
}
#main-text a {
	color: #263137;
}
#main-text a:hover {
	color: #8b1923;
}

.profile {
	margin: 0 30px 0 30px;
	padding: 40px 0 50px 0;	
}

p.affiliations {
	text-align: right;
	margin-right: 10px;
}
